<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :c3 %><br>
    <%= f.text_field :c3 %>
  </div>
  <div class="field">
    <%= f.label :asa_yamaha %><br>
    <%= f.text_field :asa_yamaha %>
  </div>
  <div class="field">
    <%= f.label :key_num %><br>
    <%= f.number_field :key_num %>
  </div>
  <div class="field">
    <%= f.label :freq %><br>
    <%= f.text_field :freq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
