%p#notice= notice
%p
  %strong C3 convention:
  = @note.c3
%p
  %strong ASA/Yamaha convention:
  = @note.asa_yamaha
%p
  %strong Key number:
  = @note.name
%p
  %strong Frequency:
  = @note.freq
\#{link_to 'Back', notes_path}
