<p id="notice"><%= notice %></p>

<p>
  <strong>C3:</strong>
  <%= @note.c3 %>
</p>

<p>
  <strong>Asa yamaha:</strong>
  <%= @note.asa_yamaha %>
</p>

<p>
  <strong>Key num:</strong>
  <%= @note.key_num %>
</p>

<p>
  <strong>Freq:</strong>
  <%= @note.freq %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
