%h1 Listing models

%table
  %tr
    %th Name
    %th Default channel
    %th Channel reassignable
    %th MIDI in
    %th MIDI out
    %th MIDI through
    %th USB
    %th
    %th
    %th

  - @models.each do |model|
    %tr
      %td= model.name
      %td= model.default_channel
      %td= model.channel_reassignable
      %td= model.MIDI_in
      %td= model.MIDI_out
      %td= model.MIDI_through
      %td= model.USB
      %td= link_to 'Show', model
      %td= link_to 'Edit', edit_model_path(model)
      %td= link_to 'Destroy', model, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Model', new_model_path
