%p
  = favicon_link_tag 'favicon.ico'
  = link_to_unless_current "#{app_title} Home", root_path
  = link_to_unless_current "Notes", notes_path
  = link_to_unless_current "Manufacturers", manufacturers_path
  = link_to_unless_current "Models", models_path

  %p
    = "Logged in as: #{current_user.name}" if current_user
    = devise_links
